/* styles.css */

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #111112;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px;
}

header {
    background-color: #111112;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 0.5px groove #fff;
}

main {
    flex: 1 0 auto;
    flex-grow: 1;
    background-color: #18181a;
    padding: 30px;
    border-radius: 10px;
    margin: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a.active {
    background-color: #f2f2f2;
    color: #007acc;
    border-radius: 5px;
    padding: 5px 10px;
}

.menu-container {
    position: relative;
}

.menu-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.menu-button.active {
    background-color: #f2f2f2;
    color: #007acc;
    border-radius: 5px;
}

.menu-button:after {
    content: "▼";
    margin-left: 5px;
    vertical-align: middle;
}

.submenu {
    /* display: none; */
    position: absolute;
    background-color: #1f1f24;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    right: 0;
    border-radius: 5px;
    z-index: 2;
    width: 150px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.menu-button.active + .submenu {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.2s linear;
}

.submenu li a {
    color: #007acc;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.submenu li a:hover {
    background-color: #007acc;
    color: #fff;
}

h1, h2 {
    color: #fff;
}

img, video {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
}

footer {
    background-color: #111112;
    padding-bottom: 30px;
    text-align: center;
    margin-top: auto;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
